/* @font-face {
    font-family: 'NunitoSans-Black';
    src: url('./fonts/NunitoSans-Black.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
  } */


:root {
    --main-bg-color: rgb(100, 99, 99);
    --main-btn-color: blueviolet;
    --main-btn-bg-color: white;
    --main-font: 'Nunito Sans', sans-serif;
    --primary-color: blueviolet;

}

body {
    margin: 0;
    font-family: var(--main-font);
    background-color: white;
    /* letter-spacing: 1px; */
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 5px solid black;
    max-width: 1600px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: center;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row: 1;
    font-size: 80px;
    white-space: nowrap;
}

.errorMessage {
    display: flex;
    justify-content: center;
}

button {
    background-color: var(--main-btn-color);
    color: var(--main-btn-bg-color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    align-items: start;
    text-align: center
}

button:hover {
    background-color: var(--main-btn-bg-color);
    color: var(--main-btn-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--main-btn-color);
}

.timeButtonsDiv {
    display: flex;
    justify-content: center;
}

.timeframeButton {
    width: 100px;
    height: auto;
    margin: 1px;
    font-family: var(--main-font);
}

.timeframeButton.clickedButton {
    background-color: var(--main-btn-bg-color);
    color: var(--main-btn-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--main-btn-color);
}

.formDiv {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
}

.searchBarForm {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 20px;
    
    
}

.searchDiv {
    /* display: inline-flex;
    align-items: center;
    justify-content: center; */
    
    /* text-align: center; */
    white-space: nowrap;
    width: 100%;
}

.searchBar {
    width: 100%;
    /* height: 100%; */
    font-size: 18px;
    /* max-width: 600px; */
    margin: 0;
    box-shadow: inset 0px 0px 0px 2px var(--main-bg-color);
    border-right: none;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    /* padding-left: 10px; */
    padding: 0;
    padding-left: 5px;
    font-family: var(--main-font);

    

}

.searchBar:focus {
    outline: none;
}

.searchButton {
    /* float: inline-end; */
    grid-column: 5 / 6;
    height: 100%;
    /* position: relative; */
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    /* margin-left: -2px; */
    /* height: 46px; */
    font-family: var(--main-font);
}



.searchDropdown {
    display: none;
    /* grid-column-start: 2;
    grid-column-end: 4; */
    width: 99%;
    
    /* margin-top: -5px;
    margin-right: 1px;
    margin-left: 1px; */
    margin: auto;
    
    border: 1px solid rgba(41, 41, 41, 0.479);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    /* max-width: 600px;
    width: 51%;
    margin-left: 20%; */

}

.matchSymbol {
    font-weight: bold;
    text-align: left;
}

.matchName {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
    max-width: 75%;
}

.matchPair {
    height: 40px;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 20px;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.matchPair:hover {
    background-color: var(--main-bg-color);
}



.dataTitle {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 0;
}

.allStockData {
    display: none;
    justify-content: center;
    align-items: start;
    margin: 10px;
    margin-top: 40px;
    border: 2px black solid;
    border-radius: 10px;
    background-color: rgb(46, 46, 46);
    padding: 10px;
}

.stockValues {
    display: none;
    background-color: rgb(112, 165, 28);
    font-size: 20px;
    margin: 5px;
    width: 20%;
    height: fit-content;
    border-radius: 10px;
    text-align: left;
    color: white;
    padding: 20px;
    padding-bottom: 5px;
    margin: 0 auto;
}

.stockValues.show {
    display: block;
}

.lastRefreshed {
    font-size: 12px;
    text-align: right;
    margin-top: 10px;
}

.companyInfo {
    position: relative;
    display: none;
    /* background-color: rgb(46, 46, 46); */
    font-size: 20px;
    /* margin: 5px; */
    /* margin-top: 0; */
    /* border-radius: 10px; */
    color: white;
    /* padding: 20px; */
    width: 60%;
    /* margin: 0 auto; */
}

.companyInfo.show {
    display: block;
}

.companyNews {
    display: none;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.companyNews.show {
    display: flex;

}

.eachArticle {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 16px;
    margin: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: block;

}

.articleTitle {
    display: inline-flex;
    font-size: 22px;
}

.articleTimePublished {
    display: inline-flex;
    font-size: 14px;

    /* float: right; */
}

p {
    padding: 0;
    margin: 0;
}

.articleAuthors {
    display: block;
    font-size: 14px;
}

.articleSource {
    display: inline;
    font-size: 14px;
}

.articleSummary {
    margin-top: 10px;
    font-size: 18px;
}

.articleURL {
    margin-top: 10px;
    display: block;


}

/* .percent.negative {
    color: red;
}

.percent.positive {
    color: green;
} */

ul {
    list-style: none;
}

.symbol {
    font-size: 30px;
}

.companyName {
    font-size: 26px;
}

.industry {
    margin-bottom: 20px;
}

.industry,
.country,
.sector,
.exchange {
    font-size: 16px;
}

.assetType {
    font-size: 16px;
}

.description {
    margin-bottom: 20px;
}

.peRatio {
    /* border: 2px solid white;
    width: fit-content;
    border-radius: 5px;
    padding: 2px; */
}

.dividendYield {}

.fiftyTwoWeekHigh {}

.fiftyTwoWeekLow {}

.earningsPerShare {}

.companyNews {
    display: none;
}

.companyNews.show {
    display: block;
}

.percent::before {
    content: "Change: ";
}

.lastRefreshed::before {
    content: "Last Refreshed: ";
}

.high::before {
    content: "High: ";
}

.low::before {
    content: "Low: ";
}

.open::before {
    content: "Open: ";
}

.close::before {
    content: "Close: ";
}

.exchange::before {
    content: "Exchange: ";
}

.country::before {
    content: "Country: ";
}

.sector::before {
    content: "Sector: ";
}

.industry::before {
    content: "Industry: ";
}

.peRatio::before {
    content: "PE Ratio: ";
}

.dividendYield::before {
    content: "Dividend Yield: ";
}

.fiftyTwoWeekHigh::before {
    content: "52 Week High: ";
}

.fiftyTwoWeekLow::before {
    content: "52 Week Low: ";
}

.earningsPerShare::before {
    content: "EPS: ";
}