/* @font-face {
    font-family: 'NunitoSans-Black';
    src: url('./fonts/NunitoSans-Black.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
  } */


:root {
    --main-bg-color: rgb(100, 99, 99);
    --main-btn-color: blueviolet;
    --main-btn-bg-color: white;

}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
}

.container {
    border: 5px solid black;
}

h1 {
    text-align: center;
    font-size: 80px;
}

.errorMessage {
    display: flex;
    justify-content: center;
}

button {
    background-color: var(--main-btn-color);
    color: var(--main-btn-bg-color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    align-items: start;
    text-align: center
}

button:hover {
    background-color: var(--main-btn-bg-color);
    color: var(--main-btn-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--main-btn-color);
}

.timeButtonsDiv {
    display: flex;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
}

.timeframeButton {
    width: 100px;
    height: auto;
    margin: 1px;
}

.timeframeButton.clickedButton {
    background-color: var(--main-btn-bg-color);
    color: var(--main-btn-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--main-btn-color);
}

.searchButton {
    position: relative;
    margin-left: -4px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    width: 80px;
    height: 46px;
    font-family: 'Nunito Sans', sans-serif;
}

.searchBarForm {
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.searchBar {
    position: relative;
    height: 40px;
    font-size: 18px;
    max-width: 600px;
    width: 50%;
    margin: 0;
    border-style: solid;
    border-width: 2px;
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
    font-family: 'Nunito Sans', sans-serif;
}

.searchBar:focus {
    outline: none;
}

.stockValues {
    display: none;
    background-color: rgb(33, 43, 17);
    width: fit-content;
    border-radius: 10px;
    text-align: left;
    color: rgb(255, 255, 255);
    padding: 20px;
}

.stockValues.show {
    display: block;
}

.companyInfo {
    display: none;
    background-color: rgb(46, 46, 46);
    font-size: 20px;
    border-radius: 10px;
    color: white;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.percent.negative {
    color: red;
}

.percent.positive {
    color: green;
}

.companyInfo.show {
    display: block;
}

ul {
    list-style: none;
}

.lastRefreshed::before {
    content: "Last Refreshed: ";
}

.high::before {
    content: "High: ";
}

.low::before {
    content: "Low: ";
}

.open::before {
    content: "Open: ";
}

.close::before {
    content: "Close: ";
}

.exchange::before {
    content: "Exchange: ";
}

.country::before {
    content: "Country: ";
}

.sector::before {
    content: "Sector: ";
}

.industry::before {
    content: "Industry: ";
}

.peRatio::before {
    content: "PE Ratio: ";
}

.dividendYield::before {
    content: "Dividend Yield: ";
}

.fiftyTwoWeekHigh::before {
    content: "52 Week High: ";
}

.fiftyTwoWeekLow::before {
    content: "52 Week Low: ";
}

.earningsPerShare::before {
    content: "EPS: ";
}